/*initial*/

button{
	background-color: transparent;
	color: white;

}

input,label{
	margin: 5px 0;
}

/*nav*/
.nav-component{
	color: white;
	padding: 10px 0;
	margin-bottom: 20px;
}
.nav-component .wrapper{
	margin: 0 auto;
	max-width: 80%;
}

.btn{
	padding: 3px;
	border: 1px solid white;
	
}
.btn:hover{
	background-color: rgb(10,10,10);
	border: 1px solid transparent;
}


/*login*/




/*footer*/
.footer p{
	padding: 20px 0;
}